@charset "UTF-8";

@font-face {
    font-family: 'kokoro';
    src: url(./font/Kokoro.otf);
}

@font-face {
    font-family: 'hannari';
    src: url(./font/Hannari.otf);
}

@font-face {
    font-family: 'dot';
    src: url(./font/misaki_gothic.ttf);
}


html {
    background-color: #fff;
    font-size: 30px;

}

* {
    margin: 0;
    padding: 0;

}

body{overflow-x: hidden;}

.smh {
    display: block;
}

.pc {
    display: none;
}

/*mainvisual*/


li {
    float: left;
    color: gray;
    font-family: 'dot';
    padding-left: 90px;
    text-align: center;
    list-style: none;


}



#ham-menu {
    
    background-color: #2A2A2A;
    /*メニュー背景色*/
    box-sizing: border-box;
    height: 100%;
    padding: 10px 0px;
    /*メニュー内左右上下余白*/
    position: fixed;
    right: -250px;
    /*メニュー横幅 width と合わせる*/
    top: 0;
    transition: transform 0.3s linear 0s;
    /*0.3s はアニメーションにかかる時間*/
    width: 250px;
    /*メニュー横幅*/
    z-index: 1000;
    padding-top: 50px;
    text-align: center;

}

#menu-background {
    background-color: #333;
    /*黒背景*/
    display: block;
    height: 100%;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.3s linear 0s;
    /*0.3s はアニメーションにかかる時間*/
    width: 100%;
    z-index: -1;

}

#menu-icon {
    /*アイコン部分背景色*/
    border-radius: 0 0 0 10px;
    /*左下角丸*/
    color: #00FF00;
    /*アイコン（フォント）色*/
    cursor: pointer;
    display: block;
    font-size: 50px;
    /*アイコン（フォント）サイズ*/
    height: 50px;
    /*アイコン縦高さ*/
    line-height: 50px;
    /*縦位置中央化*/
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 50px;
    /*アイコン横幅*/
    transition: all 0.3s linear 0s;
    /*0.3s はアニメーションにかかる時間*/
    z-index: 1000;
}

#menu-cb {
    display: none;
    /*チェックボックス本体は消しておく*/
}

#menu-cb:checked ~ #ham-menu,
#menu-cb:checked ~ #menu-icon {
    transform: translate(-250px);
    /*メニュー本体横幅 width と合わせる*/
}

#menu-cb:checked ~ #menu-background {
    opacity: 0.5;
    z-index: 999;
}


.glitch {
    overflow: hidden;
    position: relative;
    height: 100vh;
}


#mainv img {
    width: 90%;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);

    margin-top: -63px;

}


.logo p {
    color: #fff;
    font-size: 11px;
    font-family: 'kokoro';

}

.logoEN p {
    color: #00FF00;
    font-size: 4vw;
    font-family: 'arial narrow';
}

.titlelogo {
    width: 600px;

}

.titlelogo p {
    color: #00FF00;
    font-family: 'hannari';
    font-size: 10vw;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    margin-top: -25px;
}

.logoshousai p {
    margin-top: 11px;
}

/*poem*/
#poem {
    background-color: #000;
    margin-top: -10px;
    font-size: 12px;

}

.small {

    padding-top: 50px;
    font-family: 'kokoro';
    line-height: 55px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: -300px;
}


.tumo {
    height: 600px;
    margin: 0 auto;
    margin-bottom: -20px;
    text-align: center;
    margin-top: -300px;
    overflow: hidden;

}

/*menber*/
#menber {
    background-color: #DDDDDD;

}

#menber h1 {
    margin-top: -140px;
    margin-bottom: 0px;
}

.iei {

    width: 90%;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 3;

    text-align: center;
}

.iei_box {
    width: 90%;
    margin: 0 auto;
    text-align: center;

}

.iei img {
    height: 120px;
    margin: 0px 4px;
    flex-shrink: 0;
    flex-basis: 130px;

    z-index: 3;
}

.iei {
    margin: 0 auto;
}

/*  about  */
#about {
    background-color: #DDDDDD;
    position: relative;
    font-family: 'kokoro';
    padding-bottom: 170px;
    padding-top: 80px;
}
















/*  about  */
#about {
    background-color: #DDDDDD;
    position: relative;
    font-family: 'kokoro';

}

.intro_img {
    display: none;
}

.contents {

    background-repeat: no-repeat;
    background-image: url(img/omoide_s.png);
    height: 100%;
    background-size: 100%;
    margin: 0 auto;
    border-radius: 0px;
    width: 73%;
    height: 120vw;
    margin-bottom: -20%;



}


.right-box {

    padding-top: 12%;
}

h1 {
    font-family: 'dot';
    font-size: 20px;
    text-align: center;
    font-weight: normal;
}

#about h1 {
    margin-bottom: 30px;
}

.text {

    width: 280px;
    margin: 0 auto;
    border-radius: 0px;
    margin-top: 20%;
    padding: 0px;

}

.lefto {
    margin: 30px;
    margin-top: 0;
}

.centero {

    text-align: center;
    padding-top: -20px;
}

.r0 p {
    font-family: 'hannari';
    font-size: 5vw;
    text-align: center;
}

.r1 p {
    font-size: 4vw;
    text-align: center;
}

.bold {
    font-size: 3vw;

}

.r2 p {
    font-size: 2vw;

}

.r3 p {
    font-size: 3.3vw;

}

.r4 {
    margin-top: -10px;

}



.r4 a {
    font-size: 2vw;
    text-decoration: none;
    color: #000;
    padding: 4px 6px;
    background-color: #fff;

    box-shadow: 3px 3px 0px 0px #00ff00;
}


.r5 {
    margin-top: -10px;
}

.r5 a {
    font-size: 2vw;
    text-decoration: none;
    color: #000;
    padding: 4px 6px;
    background-color: #fff;

    box-shadow: 3px 3px 0px 0px #00ff00;
}

.rellax1 {
    font: right;
    position: absolute;
    top: -650px;
   left: 60%;
    z-index: 100px;
}


.rellax1 img {
    width: 35vw;
overflow-x: hidden;
}

.rellax2 img {
    width: 30vw;
    max-width: 150px;
}

.rellax2 {
    display: block;
    position: absolute;
    top: 250px;
    left: 20px;
    z-index: 100px;
}

/*access*/
#access {
    background-color: #2A2A2A;

    z-index: -1px;
    height: 180vw;
    max-height: 700px;
}

#access p {
    color: #DDDDDD;
}





@media screen and (max-width: 800px) {


    
    #access h1 {
    color: #00FF00;
    padding-top: 50px;
}

.ac1 {
    font-family: 'kokoro';
    position: absolute;
    top: 159px;
    left: 0;
    font-size: 14px;

}

.ac2 {
    font-family: 'kokoro';
    position: absolute;
    top: 152px;
    right: 5px;
    font-size: 10px;

    text-decoration: none;

}

.ac2 a {
    color: #fff;
    text-decoration: none;

}

    

    .tizu {
        width: 500px;
        margin: 0 auto;
        position: relative;
        height: 500px;

    }



    iframe {
        padding-top: 120px;
        width: 500px;
        height: 500px;
        text-align: center;
        margin: 0 auto;
    }
    
    
    
    .tatea p {
        writing-mode: vertical-rl;
        color: #00FF00;

        font-size: 4vw;
    }

    .tatea {
        top: 20px;
        right: 10px;
        top: 3100px;
        position: absolute;
    }

    .tatea p {
        display: none;
    }
    
    
    
    .tatem p{writing-mode:vertical-rl;
        color: #18BC3B;
        
 font-size: 4vw;
    }
    
    .tatem{  top:1400px;
        left: 10px;
        position: absolute;}
    


}

@media screen and (max-width: 400px) {

.rellax1 {
   font: right;
    position: absolute;
    top: -990px;
   left: 60%;
    z-index: 100px;
    }

    .tizu {
        width: 250px;
        margin: 0 auto;
        position: relative;
        height: 500px;

    }


    iframe {
        padding-top: 120px;
        width: 250px;
        height: 400px;
        text-align: center;
        margin: 0 auto;
    }


    .tatea p {
        writing-mode: vertical-rl;
        color: #00FF00;

        font-size: 3vw;
    }

    .tatea {
        
       left: 90%;
        top: 300%;
        position: absolute;
    }

    .tatea p {
        display: block;
    }
    
    
    
    .tatem p{writing-mode:vertical-rl;
        color: #18BC3B;
        
 font-size: 5vw;
    }
    
    .tatem{  top:1470px;
        left: 14px;
        position: absolute;}

.ac1 {
    font-family: 'kokoro';
    position: absolute;
    top: 159px;
    left: 0;
    font-size: 11px;

}

.ac2 {
    font-family: 'kokoro';
    position: absolute;
    top: 152px;
    right: 5px;
    font-size: 7px;

    text-decoration: none;

}

.ac2 a {
    color: #fff;
    text-decoration: none;
    font-size: 7px;

}

    

}








/*kousin*/

#ham-menu a {
    font-family: color: #00FF00;
    font-size: 25px;
      font-family: 'dot';
    text-decoration: none;
    color: #DDDDDD;
    padding-top: 30px;
    line-height: 90px;

}

#ham-menu a:hover{
    
    color: #00FF00;
 

}

* {
    box-sizing: border-box;
}

/* ポップアップウインドウの設定 */

button{
   
       width: auto;
    padding:0;
    margin:0;
    background: #DDDDDD;
   
    border:0;
    font-size:0;
    line-height:0;
    overflow:visible;
    cursor:pointer;
        margin: 0 auto;
    
}

button img{display: block;}
.element_to_pop_up1 { 
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none; 
    padding:20px;
   width:350px;
   max-height: 600px;
    text-align: center;
      overflow-y: scroll;
    font-family: "kokoro";
    margin: 0 auto;
}
.element_to_pop_up2 { 
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none; 
    padding:20px;
   width:350px;
   max-height: 600px;
    text-align: center;
      overflow-y: scroll;
    font-family: "kokoro";
}
.element_to_pop_up3{ 
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none; 
    padding:20px;
   width:350px;
   max-height: 600px;
    text-align: center;
      overflow-y: scroll;
    font-family: "kokoro";
   

}
.element_to_pop_up4 { 
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none; 
    padding:20px;
      max-width:350px;
   max-height: 600px;
    text-align: center;
      overflow-y: scroll;
    font-family: "kokoro";
}
.element_to_pop_up5{ 
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none; 
    padding:20px;
    width:350px;
   max-height: 600px;
    text-align: center;
      overflow-y: scroll;
    font-family: "kokoro";
}
.element_to_pop_up6 { 
     background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none; 
    padding:20px;
width:350px;
 
   max-height: 600px;
    text-align: center;
      overflow-y: scroll;
    font-family: "kokoro";
}
.b-close{
    cursor:pointer;
    position:absolute;
    right:10px;
    top:5px;
}


.muchiicon{margin: 20px;}
.icon{margin-right: -20px;
margin-bottom: -10px;}

.muchi1{margin-top: 20px;
width: 200px;}




















.sioham{ -webkit-filter: grayscale(1);
	filter: gray;
	filter: grayscale(1);}
.sioham:hover{-webkit-filter: grayscale(0);
		filter: none;
		filter: grayscale(0);}


.test{
       
        
        width: 100%;
        margin: 0 auto;
      text-align: center;
margin-top:-200px;
    padding-bottom: -100px;
 
    }


    .small {
        padding-top: 100px;
        font-family: 'kokoro';
        line-height: 60px;
        text-align: center;
   padding-bottom: 60px;
    }




 .tatem p{
        color: #18BC3B;

    }



.guri{
  display: block;
  width: 600px;
  height: 200px;

  text-align: center;
   font-family: 'hannari';
  font-weight: normal;
  

  overflow: hidden;
    margin-bottom: -20%;
}


@media screen and (max-width: 400px) {
    .guri{
  
    margin-bottom: -25%;
}
}
@media screen and (min-width: 400px) {
    .guri{
  
    margin-bottom: -20%;
}
}






.guri .texts {
  display: block;
  width: inherit;
  height: inherit;

   text-align: center;
 font-family: 'hannari';
  font-weight: normal;
  left: 2px;
  top: 0px;
  position: absolute;
  overflow: hidden;
  animation-name: textBlink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.shadow {
  position: absolute;
  width: inherit;
  height: 30px;
  overflow: hidden;
  animation-name: shadowDown;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.shadow .viewport {
  position: relative;
  width: inherit;
  height: 200px;
}

.shadow .texts {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  animation-name: shadowTextUp;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes textBlink {
  0% {
    opacity: 1;
    left: 2px;
  }
  30% {
    opacity: .7;
  }
  70% {
    opacity: .8;
    left: -2px;
  }
  71% {
    opacity: .8;
    left: 0px;
  }
  75% {
    opacity: .8;
    left: 1px;
  }
  100% {
    opacity: 7;
    left: 0px;
  }
}

@keyframes shadowDown {
  0% {
    top: 0px;
  }
  10% {
    top: 20px;
  }
  20% {
    top: 30px;
  }
  40% {
    top: 35px;
  }
  60% {
    top: 50px;
  }
  70% {
    top: 20px;
  }
  100% {
    top: 10px;
  }
}

@keyframes shadowTextUp {
  0% {
    top: 0px;
  }
  10% {
    top: -20px;
    opacity: .5;
  }
  20% {
    top: -30px;
    opacity: 1;
  }
  40% {
    top: -35px;
  }
  60% {
    top: -50px;
    opacity: .5;
  }
  70% {
    top: -20px;
  }
  100% {
    top: -10px;
    opacity: 1;
  }
}


