




    @charset "UTF-8";

    @font-face {
        font-family: 'kokoro';
        src: url(./font/Kokoro.otf);
    }

    @font-face {
        font-family: 'hannari';
        src: url(./font/Hannari.otf);
    }

    @font-face {
        font-family: 'dot';
        src: url(./font/misaki_gothic.ttf);
    }


    html {
        background-color: #fff;
        font-size: 30px;

    }

    * {
        margin: 0;
        padding: 0;

    }
    .smh{
        display: none;
    }









body{
    overflow-x: hidden;
}






    /*mainvisual*/
    li {
        float: left;
        color: gray;
        font-family: 'dot';
        padding-left: 90px;
        text-align: center;
        list-style: none;


    }

    .menu {
        width: 600px;
        margin: auto 0;
        text-align: center;
        overflow: hidden;
        position: absolute;

        left: 50%;
        -webkit-transform: translateY(0) translateX(-50%);
        transform: translateY(0) translateX(-50%);
        margin-top: 40px;
    }


    #mainv {
        background-color: #000;
        height: 100vh;
        text-align: center;
        position: relative;
        overflow: hidden;
        z-index: -3;

    }


    .gl {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
        margin-top: 30px;
    }


glitch {
  color: white;
  font-size: 40px;
  position: relative;
  width: 400px;
  margin: 0 auto;
}

@keyframes noise-anim {
  0% {
    clip: rect(77px, 9999px, 6px, 0);
  }
  5% {
    clip: rect(65px, 9999px, 70px, 0);
  }
  10% {
    clip: rect(82px, 9999px, 82px, 0);
  }
  15% {
    clip: rect(32px, 9999px, 35px, 0);
  }
  20% {
    clip: rect(31px, 9999px, 49px, 0);
  }
  25% {
    clip: rect(18px, 9999px, 46px, 0);
  }
  30% {
    clip: rect(94px, 9999px, 64px, 0);
  }
  35% {
    clip: rect(69px, 9999px, 31px, 0);
  }
  40% {
    clip: rect(6px, 9999px, 72px, 0);
  }
  45% {
    clip: rect(25px, 9999px, 35px, 0);
  }
  50% {
    clip: rect(82px, 9999px, 26px, 0);
  }
  55% {
    clip: rect(7px, 9999px, 92px, 0);
  }
  60% {
    clip: rect(54px, 9999px, 30px, 0);
  }
  65% {
    clip: rect(86px, 9999px, 90px, 0);
  }
  70% {
    clip: rect(38px, 9999px, 65px, 0);
  }
  75% {
    clip: rect(41px, 9999px, 66px, 0);
  }
  80% {
    clip: rect(31px, 9999px, 37px, 0);
  }
  85% {
    clip: rect(8px, 9999px, 12px, 0);
  }
  90% {
    clip: rect(50px, 9999px, 69px, 0);
  }
  95% {
    clip: rect(7px, 9999px, 42px, 0);
  }
  100% {
    clip: rect(14px, 9999px, 57px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(18px, 9999px, 13px, 0);
  }
  5% {
    clip: rect(74px, 9999px, 51px, 0);
  }
  10% {
    clip: rect(33px, 9999px, 65px, 0);
  }
  15% {
    clip: rect(64px, 9999px, 66px, 0);
  }
  20% {
    clip: rect(75px, 9999px, 6px, 0);
  }
  25% {
    clip: rect(40px, 9999px, 49px, 0);
  }
  30% {
    clip: rect(71px, 9999px, 1px, 0);
  }
  35% {
    clip: rect(42px, 9999px, 73px, 0);
  }
  40% {
    clip: rect(92px, 9999px, 57px, 0);
  }
  45% {
    clip: rect(4px, 9999px, 33px, 0);
  }
  50% {
    clip: rect(4px, 9999px, 34px, 0);
  }
  55% {
    clip: rect(49px, 9999px, 25px, 0);
  }
  60% {
    clip: rect(24px, 9999px, 44px, 0);
  }
  65% {
    clip: rect(31px, 9999px, 99px, 0);
  }
  70% {
    clip: rect(54px, 9999px, 83px, 0);
  }
  75% {
    clip: rect(57px, 9999px, 97px, 0);
  }
  80% {
    clip: rect(3px, 9999px, 15px, 0);
  }
  85% {
    clip: rect(84px, 9999px, 34px, 0);
  }
  90% {
    clip: rect(100px, 9999px, 88px, 0);
  }
  95% {
    clip: rect(91px, 9999px, 59px, 0);
  }
  100% {
    clip: rect(10px, 9999px, 87px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}



    #mainv img {
        width: 900px;
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
        margin-top: 30px;
    }


    .logo p {
        color: #fff;
        font-size: 16px;
        font-family: 'kokoro';

    }

    .logoEN p {
        color: #00FF00;
        font-size: 25px;
        font-family: 'arial narrow';
    }

    .titlelogo p {
        color: #00FF00;
        font-family: 'hannari';
        font-size: 80px;
    }

    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
        margin-top: 30px;
    }

    .logoshousai p {
        margin-top: 21px;
    }

    /*poem*/
    #poem {
        background-color: #000;
        margin-top: -10px;
       
      
    }

@media screen and (min-width: 800px) { 
.test{
       
        
        width: 100%;
        margin: 0 auto;
      text-align: center;
 
    }


    .small {
        padding-top: 100px;
        font-family: 'kokoro';
        line-height: 120px;
        text-align: center;
   padding-bottom: 170px;
    }
}
.tumo{
    margin: 0 auto;
    margin-bottom:-120px;
    text-align: center;
    margin-top: -680px;
    overflow: hidden;
    
}

    /*menber*/
    #menber {
        background-color: #DDDDDD;
        padding-top: 200px;
    }
.iei{
    
      width: 90%;
    display:flex;
   display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: -moz-flex;
        display: flex;
        -webkit-box-lines: multiple;
        -moz-box-lines: multiple;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: center;
        z-index: 3;
   
    text-align: center;
     padding-top: 80px;
    padding-bottom:80px;
}
.iei_box{
     width: 90%;
   margin: 0 auto;
     text-align: center;
    margin-right:0;
    padding: 50px auto;
}
.iei img{
  
    margin: 10px 20px;
     flex-shrink: 0;
       height: 180px;
       
        z-index: 3;
}

.iei{
     margin-right:0;
}


.tatem p{writing-mode:vertical-rl;
        color: #00FF00;
        
font-size: 44px;
    }
    
    .tatem{  top:2150px;
        left: 60px;
        position: absolute;}
    
    
    


    /*  about  */
    #about {
        background-color: #DDDDDD;
        position: relative;
        font-family: 'kokoro';
        padding-bottom: 170px;
    }





@media screen and (min-width: 800px) { 
    .contents {
        width: 800px;
           height: 570px;
        background-color: #FFF;
        margin: 0 auto;
position: relative;
        border-radius: 12px;
        margin-top: 100px;
       
    }
    
      }
    

    h1 {
        font-family: 'dot';
        font-size: 47px;
        text-align: center;
         font-weight: normal;
        
    }

 .about h1 {
   
    }

    .text { 
        padding-top: 100px;
        padding-left: 430px;
    }

    .intro_img img {
        float: left;
        overflow: hidden;
        margin-top: 30px;
        margin-left: 40px;
    }
    .r0 p{
        font-family: 'hannari';
        font-size: 27px;
    }
     .r1 p{
        font-size: 19px;
    }
    .bold {
   font-size: 20px;
        margin-left: 10px;
}
     .r2 p{
        font-size: 11px;
letter-spacing:5px;
         margin-top: 12px;
         margin-bottom: 20px;
    }
    .r3 p{
        font-size: 18px;
    }
    
    .r4 {margin-top: 10px;}
      .r4 p{
        font-size: 18px;
          text-decoration: none;
          
    }
      .r4 a{
        font-size: 18px;
          text-decoration: none;
          color: #18BC3B;
          
    }

      .r5 p{
        font-size: 15px;
          margin-top: 80px;
          margin-bottom: -20px;
    }
      .r6 a{
        font-size: 12px;
          text-decoration: none;
          color: #18BC3B;
    }


@media screen and (min-width: 1000px) { 
    .rellax1{
     
        position: absolute;
        top:-360px;
        left:740px;
         z-index: 100px;
    }
     .rellax1 img{
 width: 30vw;
         min-width: 170px;
            max-width: 470px;
        
    }
.rellax2 img{
 width: 16vw;
     min-width: 100px;
      max-width: 320px;
    }
    .rellax2 {
        position: absolute;
        top:270px;
        left:-220px;
        z-index: 100px;
      
        
    }
}

@media screen and (max-width: 1000px) { 
    .rellax1{
     
        position: absolute;
        top:-500px;
        left:740px;
         z-index: 100px;
    }
     .rellax1 img{
 width: 30vw;
         min-width: 170px;
            max-width: 370px;
        
    }

    .rellax2 {
        display: none;
      
        
    }
}
    /*access*/
    #access {
        background-color: #2A2A2A;
     
        z-index: -1px;
        height: 1070px;
    }

    #access p {
        color: #DDDDDD;
    }
   .tizu{
       width: 700px;
       margin: 0 auto;
       position: relative;
    height: 800px;
       
    }
    
    #access h1{
        color:#00FF00;
        padding-top: 100px;
    }
    .ac1{
         font-family: 'kokoro';
        position:absolute;
        top:270px;
           left:0;
        font-size: 31px;
        
    }
    .ac2{
              font-family: 'kokoro';
        position:absolute;
          top:258px;
           right: 10px;
           font-size: 20px;
     
    }




   iframe{padding-top: 190px;
height: 800px;
}


@media screen and (min-width: 1000px) { 

.tatea p{writing-mode:vertical-rl;
        color: #00FF00;
        
font-size:2vw;
    }
    
    .tatea{  top:20px;
        right: 60px;
        top:4100px;
        position: absolute;}
}
 

@media screen and (max-width: 1000px) { 

    .tatea p{  display: none;}
}

@media screen and (min-width: 500px) { 

    .tatea p{  display: none;}
    .tatem p{  display: none;}
  
}
    


* {
  box-sizing: border-box;
  }

/* ポップアップウインドウの設定 */
button{
  
    
       width: auto;
    padding:0;
    margin:0;
    background: #DDDDDD;
   
    border:0;
    font-size:0;
    line-height:0;
    overflow:visible;
    cursor:pointer;
    
}


button img{display: block;}
.element_to_pop_up { 
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none; 
    padding:20px;
    max-width:600px;
   max-height: 600px;
      overflow-y: scroll;
}
.b-close{
    cursor:pointer;
    position:absolute;
    right:10px;
    top:5px;
}

















